---
---

# Income Verification

Income verification requires borrowers to provide proof of the  income stated on the credit application. For most borrowers, their most recent computer-generated pay stub showing year-to-date income is sufficient. A lender may also ask for a prior year W-2 form if it’s early in the year or to prove regular overtime pay.

For borrowers who are self-employed, this becomes more difficult. Some subprime lenders will not approve self-employed applicants, while some that do may require IRS copies of  income taxes from one to three previous years as well as  bank statements to prove income.
